.DS_Store
node_modules
*.tsbuildinfo

.devenv
.direnv
.claude/settings.local.json
.claude/agents/
.codex/agents/

.android
local.properties

.artifacts
_gen_*

.expo
packages/runtime-toolchain/ios
packages/runtime-toolchain/android
